<h1>Rutas y Lazyload App</h1>
<ul>
  <li><a routerLink="/auth/login">Login</a></li>
  <li><a routerLink="/auth/registro">Registro</a></li>
  <li><a routerLink="/auth/forgot">Forgot</a></li>
</ul>

<ul>
  <li><a routerLink="/productos/agregar">agregar</a></li>
  <li><a routerLink="/productos/editar">editar</a></li>
  <li><a routerLink="/productos/listado">listado</a></li>
  <li><a routerLink="/productos/producto">producto</a></li>
</ul>


<ul>
  <li><a routerLink="/usuarios/nuevo">nuevo</a></li>
  <li><a routerLink="/usuarios/editar">editar</a></li>
  <li><a routerLink="/usuarios/listado">listado</a></li>
  <li><a routerLink="/usuarios/usuario">usuario</a></li>
</ul>


<router-outlet></router-outlet>